body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.left-pane {
    width: 70%;
    padding: 20px;
}

.right-pane {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
}

.menu-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.main-title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.welcome-title {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.main-paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
